<aside class="aside">
  <section class="section howToStart">
    <div class="howToStart__description">
      <h3 class="howToStart__title aside__sectionTitle">How To Start?</h3>
      <p class="paragraph">
        Here's a quick tutorial on how to start safely betting
      </p>
      <a href="" class="howToStart__button">
        <span class="howToStart__buttonTitle">Learn More</span>
        <svg
          width="6"
          height="8"
          viewBox="0 0 6 8"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2.41752 1.00253L5.00752 3.59253C5.39752 3.98253 5.39752 4.61253 5.00752 5.00253L2.41752 7.59253C1.78752 8.22253 0.707519 7.77253 0.70752 6.88253L0.70752 1.70253C0.70752 0.812532 1.78752 0.372532 2.41752 1.00253Z"
            fill="white"
          />
        </svg>
      </a>
    </div>
    <div class="howToStart__image">
      <img src="@img/hTSImage.png" alt="hTSImage" />
    </div>
  </section>
  <section class="section bonuses">
    <h3 class="bonuses__title aside__sectionTitle">Bookmakers Bonuses</h3>
    <ul class="bonuses__bookmakersList">
      <li class="bonuses__bookmaker">
        <div class="bonuses__bonuses__bookmakerImg">
          <img src="@img/parimatch_dark.jpg" alt="parimatch" />
        </div>
        <p class="paragraph">100% Welcome Bonus</p>
        <a href="" class="bonuses__button">CLAIM</a>
      </li>
      <li class="bonuses__bookmaker">
        <div class="bonuses__bonuses__bookmakerImg">
          <img src="@img/bet365_dark.jpg" alt="bet365" />
        </div>
        <p class="paragraph">150% Welcome Bonus</p>
        <a href="" class="bonuses__button">CLAIM</a>
      </li>
      <li class="bonuses__bookmaker">
        <div class="bonuses__bonuses__bookmakerImg">
          <img src="@img/bwin_dark.jpg" alt="bwin" />
        </div>
        <p class="paragraph">500% Welcome Bonus</p>
        <a href="" class="bonuses__button">CLAIM</a>
      </li>
    </ul>
  </section>
  <section class="section guess">
    <div class="guess__header">
      <h3 class="guess__title aside__sectionTitle">Who will win?</h3>
      <a href="" class="guess__link">See Results</a>
    </div>
    <div class="guess__bet">
      <div class="guess__block">
        <div class="guess__team parimatch">
          <img src="@img/brs.png" alt="brs" />
        </div>
        <div class="guess__bookmaker parimatch">
          <div class="guess__bookmakerLogo">
            <img src="@img/parimatch_dark.jpg" alt="parimatch" />
          </div>
          <p class="guess__ratio">1.5</p>
        </div>
        <p class="guess__bottomTitle">HOME</p>
      </div>
      <div class="guess__block">
        <div class="guess__team"><span class="guess__equals">=</span></div>
        <div class="guess__bookmaker">
          <div class="guess__bookmakerLogo">
            <img src="@img/bet365_dark.jpg" alt="bet365" />
          </div>
          <p class="guess__ratio">2.32</p>
        </div>
        <p class="guess__bottomTitle">DRAW</p>
      </div>
      <div class="guess__block">
        <div class="guess__team bet365">
          <img src="@img/ars.png" alt="ars" />
        </div>
        <div class="guess__bookmaker bet365">
          <div class="guess__bookmakerLogo">
            <img src="@img/bet365_dark.jpg" alt="bet365" />
          </div>
          <p class="guess__ratio">4.29</p>
        </div>
        <p class="guess__bottomTitle">AWAY</p>
      </div>
    </div>
  </section>
</aside>
