:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Inter", sans-serif;
  --primary: #33b63c;
  --primary-soft: #e7f4ea;
  --secondary: #ff2400;
  --live-red: #f00;
  --dark: #1d2730;
  --semi-dark: #b5b5b5;
  --grey: #616161;
  --grey-second: #adadad;
  --dark-soft: #f8f9f9;
  --light: #ffffff;
  --fw-bold: 700;
  --fw-semiBold: 600;
  --fw-regular: 400;
}
